<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.29.2" targetFramework="net461" developmentDependency="true" />
  <package id="MTConnect.NET" version="2.7.0.28439" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="NLog" version="4.4.11" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="1.52.1" targetFramework="net461" developmentDependency="true" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="TrakHound-Api" version="1.14.1.24245" targetFramework="net461" />
</packages>